{
	"parser": "babel-eslint",
	"extends": "./node_modules/aurelia-tools/.eslintrc.json",
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"quotes": "off",
		"no-else-return": "off",
		"one-var": "off",
		"brace-style": "off",
		"padded-blocks": "off",
		"space-infix-ops": "off",
		"key-spacing": "off"
	}
}
