<template>
	<require from="./element-card"></require>

	<section class="element">
		<h3 class="ui dividing header">
			<ui-icon name="code outline"></ui-icon>
			ui-${name}
		</h3>

		<div class="ui clearing basic segment">
			<ui-segment variations="basic right floated">
				<element-card></element-card>
			</ui-segment>

			<content select=".element-docs">
				<p>Still to come.</p>
			</content>
		</div>

		<div class="ui basic segment">
			<!-- TO DO: The "Examples" header should go here, but it'd look bad
				if any elements don't have examples. I suppose they all should, though,
				so that might be a non-issue.
			-->

			<content select=".element-examples">
			</content>
		</div>

	</section>

</template>
