

body {
    background-color: #FFFFFF;
}
main {
    padding-top: 2em;
}

div.segment pre {
	margin: 0;
}

ui-segment + p {
	margin-top: 1em;
}

code, kbd, pre, samp {
	font-family: 'Source Code Pro';
}
p code {
	background: rgba(240,240,0, 0.2);
}

/* Element sections */
section.element {
	margin: 2em 0 4em;
}
section.element div.clearer {
	clear: both;
}


/* Menu visibility stuff */
.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}
.main.menu .item img.logo {
    margin-right: 1.5em;
}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}


.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.header .logo {
	padding-right: 1em;
}


